/* Tayla Orsmond u21467456 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap');

/* GLOBAL */
:root{
    --primary: #171521;
    --secondary: #FBFBFB;
    --light: #5e5972;
    --tertiary: #9255A2;
    --quaternary: #DF688C;
    --main-font: 'Manrope', sans-serif;
}
* {
    font-family: var(--main-font);
    color: var(--secondary);
    margin: 0;
    padding: 0;
}
/* GENERAL */
.vr{
    width: 3px;
    background-color: var(--light);
}
/* NAV */
nav{
    background-color: #171521;
}
#fp-nav ul li a span{
    background: var(--light) !important;
}
a{
    font-family: var(--main-font);
    color: var(--light) !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: var(--secondary) !important;
}

/* HEADER LINKS */
nav a {
    position: relative;
}
nav a::before{
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--quaternary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}
nav a:not(.btn):hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* TEXT */
.text-tertiary{
    color: var(--tertiary);
}
.text-quaternary{
    color: var(--quaternary);
}

/* BUTTONS */
.btn-primary{
    background-color: var(--quaternary);
}
.btn-primary:hover{
    background-color: var(--tertiary);
}
.btn-secondary{
    background-color: var(--secondary);
    color: var(--primary);
}
.btn-secondary:hover{
    background-color: var(--light);
    color: var(--secondary);
}

.fp-watermark a{
    background: transparent !important;
    color: var(--light) !important;
    /* display: none !important; */
}