/* Tayla Orsmond u21467456 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap');

/* GLOBAL */
:root{
    --primary: #171521;
    --secondary: #FBFBFB;
    --light: #5e5972;
    --tertiary: #9255A2;
    --quaternary: #DF688C;
    --main-font: 'Manrope', sans-serif;
}
* {
    font-family: var(--main-font);
    color: var(--secondary);
    margin: 0;
    padding: 0;
}
/* GENERAL */
hr{
    height: 3px;
    width: 100%;
    background-color: var(--light);
}
.icon{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}
/* NAV */
nav{
    background-color: #171521;
}
#fp-nav ul li a span{
    background: var(--light) !important;
}
#fp-nav ul li:nth-child(1) a.active span{
    background: var(--secondary) !important;
}
#fp-nav ul li:nth-child(3) a.active span{
    background: var(--tertiary) !important;
}
#fp-nav ul li:nth-child(4) a.active span{
    background: var(--quaternary) !important;
}
.fp-tooltip{
    font-family: var(--main-font) !important;
    color: var(--secondary) !important;
    top: -5px !important;
}
a{
    font-family: var(--main-font);
    color: var(--light) !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: var(--secondary) !important;
}

/* HEADER LINKS */
nav a {
    position: relative;
}
nav a::before{
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--quaternary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}
nav a:not(.btn):hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* TEXT */
.text-tertiary{
    color: var(--tertiary);
}
.text-quaternary{
    color: var(--quaternary);
}

/* BUTTONS */
.btn{
    border: none !important;
    transition: all 0.3s ease-in-out;
    color: var(--primary) !important;
}
.btn:hover{
    background-color: var(--primary);
    color: var(--secondary) !important;
}
.btn-primary{
    background-color: var(--tertiary);
}
.btn-secondary{
    background-color: var(--quaternary);
}
.fp-watermark a{
    background: transparent !important;
    color: var(--light) !important;
    /* display: none !important; */
}

/* CANVAS */
#canvas{
    height: 20rem !important;
}

#logo{
    height: 10rem !important;
}

/* ICONS */
.icon{
    transition: all 0.3s ease-in-out;
    width: 3rem;
    height: 3rem;
}
.icon:hover{
    transform: scale(1.2) !important;
}